<h1>Aggravation!</h1>
<button class="start-game">Start The Game</button>
<div class="header">
  <div class=piles>
    <div class="deck"></div>
    <div class="pile"></div>
  </div>
  <div class="current-player"></div>
</div>
<div class="players"></div>
