<h1>Aggravation!</h1>
<form action="/game/new" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <button type="submit">Press here to join the game</button>
</form>
<div id="message-test"></div>
