<h1>Aggravation!</h1>
<label>
  Player name
  <input name="name" type="text">
</label>
<button class="join-game">Join the Game</button>
<button class="start-game">Start the Game</button>
<div class="header">
  <div class="piles">
    <div class="deck"></div>
    <div class="pile"></div>
  </div>
  <div class="current-player"></div>
</div>
<div class="players"></div>
