<h1>Aggravation!</h1>
<form>
  <label>
    Player name
    <input name="name" type="text">
  </label>
</form>
<button class="join-game">Join the Game</button>
<button class="start-game">Start the Game</button>
<div class="header hidden">
  <div class="piles">
    <div class="deck"></div>
    <div class="pile"></div>
  </div>
  <div class="current-player"></div>
</div>
<div class="players"></div>
