<h1>Aggravation!</h1>
<form action="/player/new" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input name="username" type="text">
  <button type="submit">Add Player</button>
</form>
<div class="player-names"></div>
