// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin card-dimensions {
  border: 1px solid black;
  border-radius: 3px;
  height: 88px;
  width: 63px;
}

button {
  display: inline-block;
  margin-bottom: 10px;
}

.deck {
  @include card-dimensions;
  background-image: image-url("crazy_kimie.jpg");
  margin-right: 10px;
}

.hand {
  display: flex;
  flex-wrap: wrap;
}

.card {
  @include card-dimensions;
  display: block;
  float: left;
  margin: 5px;
  &.d,
  &.h {
    color: red;
  }
}

.pile {
  .card {
    margin: 0;
  }
}

.piles {
  display: flex;
}

.players {
  display: flex;
  flex-direction: column;
}

.player-label {
  border-radius: 16px;
  height: 24px;
  margin: 10px 0;
  padding: 4px 12px;
  width: fit-content;
  &.current {
    background-color: green;
  }
  span {
    line-height: 24px;
  }
}

.suit-joker {
  display: none;
}
