// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin card-dimensions {
  border: 1px solid black;
  border-radius: 3px;
  height: 88px;
  width: 63px;
}

button {
  display: inline-block;
}

.deck {
  @include card-dimensions;
  background-color: blue;
  margin-right: 10px;
}

.hand {
  display: flex;
  flex-wrap: wrap;
}

.card {
  @include card-dimensions;
  display: block;
  float: left;
  margin-right: 5px;
  &.d,
  &.h {
    color: red;
  }
}

.piles {
  display: flex;
}

.players {
  display: flex;
  flex-direction: column;
}

.player-label {
  height: 20px;
}

.suit-joker {
  display: none;
}
